In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('playlists.csv')

In [6]:
df.to_string()

'    PlaylistId                        Name\n0            1                       Music\n1            2                      Movies\n2            3                    TV Shows\n3            4                  Audiobooks\n4            5                  90’s Music\n5            6                  Audiobooks\n6            7                      Movies\n7            8                       Music\n8            9                Music Videos\n9           10                    TV Shows\n10          11             Brazilian Music\n11          12                   Classical\n12          13   Classical 101 - Deep Cuts\n13          14  Classical 101 - Next Steps\n14          15  Classical 101 - The Basics\n15          16                      Grunge\n16          17         Heavy Metal Classic\n17          18                 On-The-Go 1'

In [15]:
df

    PlaylistId                        Name
0            1                       Music
1            2                      Movies
2            3                    TV Shows
3            4                  Audiobooks
4            5                  90’s Music
5            6                  Audiobooks
6            7                      Movies
7            8                       Music
8            9                Music Videos
9           10                    TV Shows
10          11             Brazilian Music
11          12                   Classical
12          13   Classical 101 - Deep Cuts
13          14  Classical 101 - Next Steps
14          15  Classical 101 - The Basics
15          16                      Grunge
16          17         Heavy Metal Classic
17          18                 On-The-Go 1

# Create Pandas Series

In [8]:
a= [1,2,3]

aa= pd.Series(a)
aa

0    1
1    2
2    3
dtype: int64

# Create Labels

In [9]:
labels = pd.Series(a, ["x","y","z"])
labels

x    1
y    2
z    3
dtype: int64

In [10]:
labels["y"]

2

# Analyzing the data

In [16]:
df.head()

   PlaylistId        Name
0           1       Music
1           2      Movies
2           3    TV Shows
3           4  Audiobooks
4           5  90’s Music

In [17]:
df.tail()

    PlaylistId                        Name
13          14  Classical 101 - Next Steps
14          15  Classical 101 - The Basics
15          16                      Grunge
16          17         Heavy Metal Classic
17          18                 On-The-Go 1

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PlaylistId  18 non-null     int64
 1   Name        18 non-null     object
dtypes: int64(1), object(1)
memory usage: 416.0+ bytes

# Data Cleaning

Data cleaning means fixing bad data in your data set.

Bad data could be:

Empty cells, Data in wrong format, Wrong data, Duplicates

In [22]:
dfm=pd.read_csv('AMZN.csv')

In [23]:
dfm

,Date,Open,High,Low,Close,Adj Close,Volume
0,5/15/1997,2.437500,2.500000,1.927083,1.958333,1.958333,72156000
1,5/16/1997,1.968750,1.979167,NaN,1.729167,1.729167,14700000
2,5/19/1997,1.760417,1.770833,1.625000,NaN,1.708333,6106800
3,5/20/1997,1.729167,1.750000,1.635417,1.635417,1.635417,5467200
4,5/21/1997,NaN,1.645833,1.375000,1.427083,NaN,18853200
...,...,...,...,...,...,...,...
6072,7/1/2021,3434.610107,3457.000000,3409.419922,3432.969971,3432.969971,2037100
6073,7/2/2021,3451.639893,3511.719971,3436.919922,3510.979980,3510.979980,3169400
6074,7/6/2021,3530.110107,3685.479980,3529.000000,3675.739990,3675.739990,6744800
6075,7/7/2021,3717.379883,3734.199951,3678.909912,3696.580078,3696.580078,5328100
6076,7/8/2021,3643.560059,3759.989990,3621.120117,3731.409912,3731.409912,5174100

In [27]:
dfd=dfm.copy()

# Return a new Data Frame with no empty cells:

In [30]:
dfd = dfm.dropna()

In [31]:
dfd

,Date,Open,High,Low,Close,Adj Close,Volume
0,5/15/1997,2.437500,2.500000,1.927083,1.958333,1.958333,72156000
3,5/20/1997,1.729167,1.750000,1.635417,1.635417,1.635417,5467200
5,5/22/1997,1.437500,1.447917,1.312500,1.395833,1.395833,11776800
6,5/23/1997,1.406250,1.520833,1.333333,1.500000,1.500000,15937200
8,5/28/1997,1.625000,1.635417,1.531250,1.531250,1.531250,4574400
...,...,...,...,...,...,...,...
6072,7/1/2021,3434.610107,3457.000000,3409.419922,3432.969971,3432.969971,2037100
6073,7/2/2021,3451.639893,3511.719971,3436.919922,3510.979980,3510.979980,3169400
6074,7/6/2021,3530.110107,3685.479980,3529.000000,3675.739990,3675.739990,6744800
6075,7/7/2021,3717.379883,3734.199951,3678.909912,3696.580078,3696.580078,5328100
6076,7/8/2021,3643.560059,3759.989990,3621.120117,3731.409912,3731.409912,5174100